<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">

	
	document.addEventListener("DOMContentLoaded", ()=>{
		
		let domain = "http://localhost:8080/"

			
		function load(url, element)
		{
				fetch(url)
				.then(res => res.text())
				.then(data => { element.innerHTML=data	})
				.catch(()=>{element.innerHTML="Error al obtener datos"})
		}

		
		for (let el of Array.from(document.querySelectorAll("input"))){
			
			el.onchange = () =>{
				el.value= el.value.trim()
			}
		}		

		
		
		//PARA LISTA
		const inputBusqueda = document.getElementById("busqueda")
		let url="", term="";
		inputBusqueda.onchange= ()=> {
			
			term=inputBusqueda.value.trim();
			url = domain+ `cursos/api/busqueda/${term}`
			
			
			load(url, document.getElementById("replaceLista"))
		}

	})
	
	</script>
</body>
</html>