<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">

	document.addEventListener("DOMContentLoaded", ()=>{
		
		
		const inputBusqueda = document.getElementById("busqueda")
		let url="", term="";
		inputBusqueda.onchange= ()=> {
			
			term = inputBusqueda.value.trim();
			if (document.title == "Lista de alumnos"){
				url = domain+ `alumnos/busqueda/${term}`
			} 
			if (document.title == "Lista de docentes"){
				url = domain+ `docentes/busqueda/${term}`
			} 
						
			load(url, document.getElementById("listaPersonas"), ()=>{})
		}
		
		
	})	
	
	</script>

</body>
</html>