<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head" />
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container-fluid">
		<div class="row">
			<nav th:replace="layout/layout::sidebar"></nav>
			<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 p-10">

				<h1>Lista de Usuarios</h1>

				<a type="button" href="/usuarios/nuevo">Nuevo</a>

				<div id="replaceLista">

					<h4 th:unless="${usuarios}">No hay usuarios</h4>

					<table class="table">
						<thead>
							<tr>
								<th>Nombre de Usuario</th>
								<th>Roles</th>
								<th>Info</th>
							</tr>
						</thead>

						<tbody>

							<tr th:each="x : ${usuarios}">
								<td th:text="${x.username}"></td>
								<td th:text="${x.role.nombre}"></td>
								<td ><a th:href="'/usuarios/ver/'+${x.id}">Info</a></td>
							</tr>
						</tbody>
					</table>

				</div>
			</main>
		</div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
	<script th:replace="usuario/js/scripts::javascript"></script>
</body>
</html>