<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <script type="text/javascript" th:fragment="scriptLista">
      document.addEventListener("DOMContentLoaded", () => {
        /**METODO PARA LISTAR ALUMNOS Y CURSOS DEL SEMESTRE**/
        const semestreSelect = document.querySelector("#semestreSelect");
        const replaceDiv = document.querySelector("div#replace");

        replaceDiv.innerHTML = "Elige un Semestre para ver el reporte.";
        semestreSelect.onchange = () => {
          let url = domain + "api/cursos?semestre=" + semestreSelect.value;
          let cursosId = [];
          let sem = semestreSelect.value;

          fetch(url)
            .then((res) => res.json())
            .then((data) => {
              cursosId = data;
            })
            .then(() => {
              reporteSemestre(cursosId, semestreSelect.value, replaceDiv);
            });
        };
      });

      const reporteSemestre = (cursosId, semestre, replaceDiv) => {
        replaceDiv.innerHTML = `<hr/><h3>Periodo: ${semestre}</h3><hr/>`;
        if (cursosId.length > 0) {
          for (let i of cursosId)
            replaceDiv.innerHTML += `<div id="curso${i}">CURSO${i}</div>`;

          for (let i of cursosId)
            load(
              `${domain}alumnos/api/${semestre}/${i}`,
              document.getElementById(`curso${i}`),
              () => {}
            );
        } else
          replaceDiv.innerHTML += "No hay alumnos matriculados en el ciclo";
      };
    </script>

    <script type="text/javascript" th:fragment="scriptForm">
    
    function lineaMatricula(cursoIndex, cursoNombre, docenteId, docenteNombre ){
    	console.log(cursoNombre, docenteId, docenteNombre)
    	let linea =
    	`<tr id="linea${cursoIndex}">
    		<td>
    			<input id="curso${cursoIndex}" type="hidden" name="cursos[]" value="${cursoNombre}"/>
    			<span>${cursoNombre}</span>
    		</td>
    		<td id="docente${docenteId}">
    			<input type="hidden" value="${docenteId}"name="docentes[]"/>
    			<span>${docenteNombre}</span>
    		</td>
    		<td>
    			<a href="#" onclick="parentNode.parentNode.parentNode.removeChild(parentNode.parentNode)">Quitar</a>
    		</td>
    	</tr>`
    	
    	return linea
    }
    
      document.addEventListener("DOMContentLoaded", () => {
        const docentesDiv = document.querySelector("#docentesDiv");
        const cursoSelect = document.querySelector("#cursoSelect");
        const cursosTBody = document.querySelector("#cursosMatriculados");
        const agregarBtn = document.getElementById("btnAgregar");
        let docenteSelect = document.querySelector("#docenteSelect");
        
        agregarBtn.addEventListener("click", (e) => e.preventDefault());

        cursoSelect.onchange = () => {
          let url = domain + "docentes/select?curso=" + cursoSelect.value;
          load(url, docenteSelect, () => {
            docenteSelect = document.querySelector("#docenteSelect");
          });
        };

        agregarBtn.onclick = () => {
          if (cursoSelect.value != "0" && docenteSelect.value != "0") {
        	  
        	let nombreDocente = docenteSelect.options[docenteSelect.selectedIndex].text	
            if (!hasCurso()) cursosTBody.innerHTML+=
            	lineaMatricula(
            		cursoSelect.selectedIndex, 
            		cursoSelect.value, 
            		docenteSelect.value,
            		nombreDocente
            	)	

            else {
              let el = "linea" + cursoSelect.selectedIndex
				document.getElementById(el).children[1].innerHTML = 
					`<input type="hidden" value="${docenteSelect.value}"name="docentes[]"/>
    				<span>${nombreDocente}</span>`
            }
          }
        }; // end onclick

        function hasCurso() {
        	// $ es una funcion query selector all
        	// esta funcion itera sobre un array formado con todos los input de cursos
        	// si encuentra que el curso ya existe, retorna verdadero
          	for (let el of Array.from($("input[id*='curso']"))) {
            	if (el.id === "curso" + cursoSelect.selectedIndex) return true;
          	}
          return false;
        }
      });
    </script>
  </body>
</html>
