<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${titulo}">MatriculaXD</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/img/book.png">

<link rel="stylesheet" href="/css/bootstrap.css" />

<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

	<header th:fragment="header">
		<nav class="navbar navbar-dark bg-dark sticky-top p-0">
			<a class="navbar-brand col-md-2 px-4" href="/">MATRICULAXD</a> 
			<ul class="navbar-nav px-3">

				<li class="nav-item text-nowrap">
					<form method="POST" th:action="@{/logout}">
						<h6 sec:authentication="name" style="display:inline; color: white"></h6> <button class="btn btn-secondary" type="submit">Signout</button>
					</form>
				</li>
			</ul>
		</nav>

		<div id="mensajes" style="text-align: center">
			<div class="alert alert-success" th:if="${success != null}"
				th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning != null}"
				th:text="${warning}"></div>
			<div class="alert alert-info" th:if="${info != null}"
				th:text="${info}"></div>
		</div>
	</header>

	<nav th:fragment="sidebar" id="sidebar"
		class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="position-sticky pt-3">


			<ul class="nav flex-column">

				<li class="nav-item"><a class="nav-link" href="/"> <i
						th:replace="layout/icons::homefill"></i> Inicio
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/alumnos/">
						<i th:replace="layout/icons::people"></i> Alumnos
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/docentes/">
						<i th:replace="layout/icons::peoplefill"></i> Docentes
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/cursos/"> <i
						th:replace="layout/icons::book"></i> Cursos
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/matriculas/">
						<i th:replace="layout/icons::calendar"></i> Matricula
				</a></li>
				
				<hr>
				
				<li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/usuarios/">
						<i th:replace="layout/icons::people"></i> Gestión de Usuarios
				</a></li>
				
				<li class="nav-item" ><a class="nav-link" href="/micuenta/">
						<i th:replace="layout/icons::people"></i> Mi cuenta</a></li>
			</ul>

		</div>
	</nav>





	<footer th:fragment="footer">
		<script type="text/javascript">
		
			function $(selector){
				return document.querySelectorAll(selector)
			}	
		
			let domain = "http://localhost:8080/";
			
			function load(url, element, fn)
			{
				console.log("request a url: "+url)
				fetch(url)
				.then(res => res.text())
				.then(data => { element.innerHTML=data	})
				.then( () => {fn()})
				.catch(()=>{element.innerHTML="Error al obtener datos"})
			}

			function load(url, element)
			{
				console.log("request an url: "+url)
				fetch(url)
				.then(res => res.text())
				.then(data => { element.innerHTML=data	})
				.catch(()=>{element.innerHTML="Error al obtener datos"})
			}

			document.addEventListener("DOMContentLoaded", ()=>{
				for (let el of Array.from($("input"))) {
					el.onchange = () =>{
						el.value= el.value.trim()
					}
				}
			})
			
		</script>

		<script src="/js/bootstrap.min.js"></script>
		
	


	</footer>


</body>

</html>