<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head" />

<body>

	<header th:replace="layout/layout::header"></header>

	<div class="container-fluid">
		<div class="row">

			<nav th:replace="layout/layout::sidebar"></nav>

			<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

				<h1 th:text="${titulo}">INFO DE CURSO</h1>

				<form th:object="${curso}" th:action="${action}" th:method="POST">
					<div>
						<label>Codigo

							<input id="codigo" th:if="not *{id}" class="form-control" pattern="[0-9]{5}" required
								placeholder="Ingrese el código"
								title="Ingresar un código válido. Solo números de 5 dígitos" type="text"
								th:field="*{codigo}" />

							<input th:if="*{id}" class="form-control" readonly th:field="*{codigo}" />

						</label>
					</div>

					<div>
						<label>Nombre:
							<input class="form-control" pattern="[A-Za-z ]{1,}" maxlength=30 required
								placeholder="Ingrese el nombre de curso"
								title="Ingresar un nombre valido Maximo 30 caracteres" type="text"
								th:field="*{nombre}" />
						</label>

					</div>

					<div th:if="${docentes}">
						<label> Docente: <select class="form-select" name="docente" th:field="*{docente}">
								<option th:each="x : ${docentes}" th:value="${x.id}"
									th:text="${x.nombre + ' ' + x.apellido}"></option>
							</select>
						</label>
					</div>

					<div th:if="*{id}">
						<label>Habilitado: <select class="form-select" th:field="*{habilitado}">
								<option th:value=true th:text="SI"></option>
								<option th:value=false th:text="NO"></option>
							</select>
						</label>
					</div>

					<div class="buttons">
						<button class="btn btn-primary" type="submit" th:text="Aceptar"></button>
						<button class="btn btn-secondary" th:text="Regresar" onclick="history.back()"></button>

					</div>
				</form>

			</main>

		</div>
	</div>

	<footer th:replace="layout/layout::footer"></footer>
	<script>
		document.addEventListener("DOMContentLoaded", () => {

			const codigoInput = document.getElementById("codigo")
			const codigoValue = codigoInput.value ? codigoInput.value : null
			codigoInput.addEventListener("change", () => {
				let url = `${domain}api/existeCodigo?codigo=${codigoInput.value}`

				if (codigoValue !== codigoInput.value)
					fetch(url)
						.then(res => res.json())
						.then(json => {
							if (json) {
								alert("El Codigo ingresado ya existe")
								codigoInput.value = ""
							}
						})
						.catch(err => { console.log(err) })
			})




		})
	</script>
</body>

</html>