<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${titulo}">MatriculaXD</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

	<form th:fragment="personaForm" th:object="${persona}" th:action="${action}" th:method="${method}">
		<div>
			<label>Nombre: <input type="text" th:field="*{nombre}"  /></label>
		</div>

		<div>
			<label>Apellido: <input type="text" th:field="*{apellido}" /></label>
		</div>

		<div>
			<label>DNI: <input type="text" th:field="*{dni}" /></label>
		</div>

		<div>
			<label>Sexo: <input type="text" th:field="*{sexo}" /></label>
		</div>

		<div>
			<label>Teléfono: <input type="text" th:field="*{telefono}" /></label>
		</div>

		<div>
			<label>Correo: <input type="email" th:field="*{correo}" /></label>
		</div>

		<div>
			<label>Fecha de Nacimiento: <input type="date"
				th:field="*{fecNacimiento}" /></label>
		</div>

		<div>
			<label>Dirección: <input type="text" th:field="*{direccion}" /></label>
		</div>

		<div>
			<label>Habilitado: <input type="text" th:field="*{habilitado}" /></label>
		</div>
		
		<div>
			<button type="submit" th:text="Aceptar"></button>
			<button th:text="Regresar" onclick="history.back()"></button>
			<a type="button" th:text="Eliminar" 
			th:if="*{id}" th:href="@{eliminar}"
			onclick="return confirm('¿Está seguro de eliminar?')"></a>
		</div>
	</form>
	
	
	<div th:fragment="divEliminar">
		
	</div>


</body>

</html>