<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head" />


<body>

	<header th:replace="layout/layout::header"></header>

	<div class="d-flex justify-content-center">

		<div class="card" style="width: 18rem; margin-top: 50px">
			<div class="card-header text-center">	
				<h3>Inicia Sesión en MatriculaXD</h3>
			</div>

			<div class="card-body">
				<form method="POST" th:action="@{/login}">
					<label for="username">Username:</label>
					<input class="form-control" type="text" name="username" id="username" /> <br /> 
					
					<label for="password">Password:</label> 
					<input class="form-control" type="password" name="password" id="password" />
					
					<hr />
					<input class="btn btn-primary" type="submit" value="Login" />
				</form>
			</div>


		</div>

	</div>

	<footer th:replace="layout/layout::footer"></footer>

</body>
</html>